.home {
  background-color: #ffffff;
}

.custom-search-card {
  background-color: #f8f9fa;
  max-width: 1000px;
  width: 100%;
  border-radius: 40px;
}

.input-no-border {
  border: none;
  box-shadow: none;
  background-color: #f5f5f5;
  font-weight: 500;
}

.input-no-border:focus {
  outline: none;
  box-shadow: none;
  background-color: #f5f5f5;
}

.car-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.car-image {
  max-width: 75%;
  height: auto;
  object-fit: contain;
}
